<div *ngIf="loading" class="uk-flex uk-flex-center uk-flex-middle" style="height: 450px;">
    <mat-spinner></mat-spinner>
</div>

<mat-card  *ngIf="!loading">
        <mat-card-header>
            <mat-card-title>{{title}}</mat-card-title>
        </mat-card-header>
    <mat-card-content>
        <div class="uk-flex">
            <span class="uk-width-expand"></span>
            <button mat-flat-button color="primary" (click)="productDetail({},-1)"><mat-icon>add</mat-icon> Tambah Produk</button>
        </div>
        <table class="table table-striped table-dark uk-table uk-table-responsive uk-table-divider uk-table-middle">
            <thead>
              <tr>
                <th></th>
                <th scope="col">NO</th>
                <th scope="col">JUDUL</th>
                <th scope="col">PENULIS</th>
                <th scope="col">PENERBIT</th>
                <th scope="col">TAHUN TERBIT</th>
                <th scope="col">ISBN</th>
                <th scope="col">HARGA</th>
                <th scope="col">ACTION</th>
              </tr>
            </thead>
            <tbody>
           
              <tr *ngFor='let book of books; let idx = index'>
                <td>
                  <button mat-icon-button (click)="downloadFile(book)" >
                    <mat-icon>download</mat-icon>
                  </button>
                </td>
                <td>{{idx+1}}</td>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.publisher}}</td>
                <td>{{book.year}}</td>
                <td>{{book.isbn}}</td>
                <td>{{book.price}}</td>
                <td>
                    <button mat-button color="primary" (click)="upload(book, idx)">Upload</button>
                    <button mat-button type="button" class="text-primary mr-1" (click)="productDetail(book,idx)">Edit</button>
                    <button mat-button type="button" class="text-warning"  (click)="deleteProduct(idx)" [disabled]="loadingDelete[idx]">{{loadingDelete[idx] ? 'Menghapus..':'Delete'}}</button>
                </td>
            </tr>
             
            </tbody>
          </table>
    </mat-card-content>
</mat-card>


